@page
@model MedicineApplication.Pages_Medicines.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.CreatedOn)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Medicine.MedicineId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
